---
import DatabaseIcon from "./DatabaseIcon.astro";

// icons
import mariadbIcon from "/public/mariadb.svg";
import mysqlIcon from "/public/mysql.svg";
import oracleIcon from "/public/oracle.svg";
import pgIcon from "/public/postgresql.svg";
import sqliteIcon from "/public/sqlite.svg";
import sqlserverIcon from "/public/sqlserver.svg";
---

<div class="dropdown dropdown-hover dropdown-top w-full">
  <div tabindex="4" role="button" class="btn btn-sm btn-neutral w-full">
    Cambiar base de datos
  </div>
  <ul
    tabindex="4"
    class="dropdown-content z-[5] menu p-2 shadow bg-base-100 rounded-box w-full"
  >
    <div class="grid grid-cols-3">
      <DatabaseIcon size="md" href="/mariadb" src={mariadbIcon} />
      <DatabaseIcon size="md" href="/mysql" src={mysqlIcon} />
      <DatabaseIcon size="md" href="/oracle" src={oracleIcon} />
      <DatabaseIcon size="md" href="/postgresql" src={pgIcon} />
      <DatabaseIcon size="md" href="/sqlite" src={sqliteIcon} />
      <DatabaseIcon size="md" href="/sqlserver" src={sqlserverIcon} />
    </div>
  </ul>
</div>
