---
interface Props {
  name: string;
  label: string;
  value?: string;
  defaultSelected: string;
  options: string[] | null;
}

const { name, label, value, defaultSelected, options } = Astro.props;
---

<label class="form-control">
  <div class="label">
    <span class="label-text">{label}</span>
  </div>
  <select name={name} class="select select-bordered focus:outline-none">
    {
      !options?.length && (
        <option disabled selected>
          No hay opciones disponibles
        </option>
      )
    }
    {
      options?.length && (
        <option disabled selected>{`Selecciona ${defaultSelected}`}</option>
      )
    }
    {
      options &&
        options.map((option) => (
          <option value={value} selected={option === value}>
            {option}
          </option>
        ))
    }
  </select>
</label>
