---
interface Props {
  name: string;
  label: string;
  value: string;
  selected?: string;
  defaultSelected: string;
  options: string[] | undefined;
}

const { name, label, value, selected, defaultSelected, options } = Astro.props;

const optionSelected = options?.find((option) => option[value] === selected);
---

<label class="form-control">
  <div class="label">
    <span class="label-text">{label}</span>
  </div>
  <select
    required
    name={name}
    class="select select-bordered focus:outline-none"
  >
    {
      !options?.length && (
        <option disabled selected>
          No hay opciones disponibles
        </option>
      )
    }
    {
      options?.length && (
        <option disabled selected>{`Selecciona ${defaultSelected}`}</option>
      )
    }
    {
      options &&
        options.map((option) => (
          <option value={option[value]} selected={option === optionSelected}>
            {option[value]}
          </option>
        ))
    }
  </select>
</label>
