---
import DatabaseIcon from "./DatabaseIcon.astro";

// icons
import mariadbIcon from "/public/mariadb.svg";
import mysqlIcon from "/public/mysql.svg";
import oracleIcon from "/public/oracle.svg";
import pgIcon from "/public/postgresql.svg";
import sqliteIcon from "/public/sqlite.svg";
import sqlserverIcon from "/public/sqlserver.svg";
---

<div class="dropdown dropdown-hover">
  <div
    tabindex="0"
    role="button"
    class="btn m-1 bg-slate-950 hover:bg-slate-800"
  >
    Cambiar base de datos
  </div>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] menu p-2 shadow bg-slate-950 rounded-box w-52"
  >
    <div class="flex flex-wrap items-center justify-center content-center">
      <DatabaseIcon size="md" href="/mariadb" src={mariadbIcon} />
      <DatabaseIcon size="md" href="/mysql" src={mysqlIcon} />
      <DatabaseIcon size="md" href="/oracle" src={oracleIcon} />
      <DatabaseIcon size="md" href="/postgresql" src={pgIcon} />
      <DatabaseIcon size="md" href="/sqlite" src={sqliteIcon} />
      <DatabaseIcon size="md" href="/sqlserver" src={sqlserverIcon} />
    </div>
  </ul>
</div>
