---
interface Props {
  pageName: string;
}

const { pageName } = Astro.props;

import Modal from "../Modals/BaseModal.astro";
import BackupDB from "../Modals/BackupDB.astro";

import Input from "../Forms/Input.astro";
import Select from "../Forms/Select.astro";
import Check from "../Forms/Check.astro";
import File from "../Forms/File.astro";

import { Image } from "astro:assets";
import ChangeDB from "../../ui/ChangeDB.astro";
import databaseIcon from "/public/database.svg";

import Tables from "./Tables.astro";
import Users from "./Users.astro";
import Roles from "./Roles.astro";
---

<aside
  class="col-span-3 bg-slate-700 p-4 max-h-svh overflow-y-scroll scrollbar scrollbar-thumb-slate-800 scrollbar-track-slate-700"
>
  <header>
    <div class="flex items-center justify-between mb-5">
      <h2 class="text-lg font-semibold text-white">
        DBMS <span class="text-slate-400">{pageName}</span>
      </h2>
      <Image src={databaseIcon} alt="Database" width="24" height="24" />
    </div>
  </header>
  <main class="flex flex-col gap-2">
    <Tables pageName={pageName} />
    <Users pageName={pageName} />
    <Roles pageName={pageName} />
  </main>
  <div class="divider"></div>
  <footer>
    <div class="grid grid-cols-2 my-5 gap-2">
      <button class="btn btn-sm btn-primary" onclick="add_user.showModal()">
        Crear usuario
      </button>
      <button class="btn btn-sm btn-primary" onclick="add_role.showModal()">
        Crear rol
      </button>
      <button
        class="btn btn-sm btn-primary col-span-2"
        onclick="generate_crud.showModal()"
      >
        Generar CRUD para las entidades
      </button>
    </div>
    <div class="divider text-xs">BASE DE DATOS</div>
    <div class="grid grid-cols-2 gap-2">
      <button class="btn btn-sm btn-outline" onclick="backup_db.showModal()">
        Respaldar
      </button>
      <button class="btn btn-sm btn-outline" onclick="restore_db.showModal()">
        Restaurar
      </button>
    </div>
    <div class="divider"></div>
    <ChangeDB />
  </footer>
</aside>

<Modal id="add_user" type="Crear" title="Crear usuario">
  <Input type="text" label="Nombre" example="christiam" />
  <Input type="password" label="Contraseña" example="P@ssw0rd" />
  <Select label="Rol" defaultSelected="un rol" options={[]} />
</Modal>

<Modal id="add_role" type="Crear" title="Crear rol">
  <Input type="text" label="Nombre" example="admin" />
  <Check label="Permisos" options={["sysdba", "sysoper", "read only"]} />
</Modal>

<Modal id="generate_crud" type="Generar" title="Generar CRUD">
  <File label="Script SQL" helpText="Selecciona el script de generación" />
</Modal>

<BackupDB id="backup_db" />

<Modal id="restore_db" type="Restaurar" title="Restaurar base de datos">
  <File label="Archivo" helpText="Selecciona el archivo de respaldo" />
</Modal>
