---
interface Props {
  pageName: string;
  roleNames: string[] | undefined;
}

const { pageName, roleNames } = Astro.props;

import DeleteModal from "../Modals/DeleteModal.jsx";
import Modal from "../Modals/BaseModal.astro";
import Input from "../Forms/Input.astro";
import Select from "../Forms/Select.astro";

import { Image } from "astro:assets";
import editIcon from "/public/pencil.svg";
import deleteIcon from "/public/delete.svg";

import fetchData from "../../../services/fetchData";
const userNamesURL = `http://localhost:4321/api/${pageName}/users/names.json`;
const userNames = await fetchData(userNamesURL);
---

<!-- [{ usename, usesysid, usecreatedb, usesuper, passwd }] -->
<div tabindex="2" class="collapse collapse-arrow bg-slate-800 rounded-md">
  <input type="checkbox" class="peer" />
  <div class="collapse-title font-medium">Usuarios</div>
  <div class="collapse-content flex flex-col gap-1">
    {
      userNames &&
        userNames.map(({ usename }) => (
          <>
            <div class="btn btn-sm flex justify-between group">
              {usename}
              <div class="hidden group-hover:block">
                <button
                  class="btn btn-accent btn-xs"
                  onclick="edit_user.showModal()"
                >
                  <Image src={editIcon} alt="Edit" class="w-4" />
                </button>
                <button
                  class="btn btn-accent btn-xs"
                  onclick={`delete_user_${usename}.showModal()`}
                >
                  <Image src={deleteIcon} alt="Delete" class="w-4" />
                </button>
              </div>
            </div>
            <DeleteModal
              type="Eliminar"
              dataType="usuario"
              username={usename}
              pageName={pageName}
              lastURL="users/delete.json"
              id={`delete_user_${usename}`}
              client:only="react"
            >
              <p class="my-3">
                ¿Está seguro que desea eliminar el usuario
                <strong>{usename}</strong>?
              </p>
            </DeleteModal>
          </>
        ))
    }
    {
      userNames.length === 0 && (
        <p class="text-sm text-gray-400">No se encontraron usuarios</p>
      )
    }
  </div>
</div>

<Modal id="edit_user" type="Editar" title="Editar usuario">
  <Input type="text" name="name" label="Nombre" example="christiam" />
  <Input type="password" name="passwd" label="Contraseña" example="P@ssw0rd" />
  <Select
    name="role"
    label="Rol"
    value="rolname"
    defaultSelected="un rol"
    options={roleNames}
  />
</Modal>
