---
interface Props {
  pageName: string;
  roleNames: string[] | undefined;
}

const { pageName, roleNames } = Astro.props;

import DeleteModal from "../Modals/DeleteModal.jsx";
import EditModal from "../Modals/EditModal.jsx";
import Input from "../Forms/Input.astro";
import Select from "../Forms/Select.astro";

import { Image } from "astro:assets";
import editIcon from "/public/pencil.svg";
import deleteIcon from "/public/delete.svg";

import fetchData from "../../../services/fetchData";
const userNamesURL = `http://localhost:4321/api/${pageName}/users/names.json`;
const userNames = await fetchData(userNamesURL);
---

<div tabindex="2" class="collapse collapse-arrow bg-slate-800 rounded-md">
  <input type="checkbox" class="peer" />
  <div class="collapse-title font-medium">Usuarios</div>
  <div class="collapse-content flex flex-col gap-1">
    {
      userNames &&
        userNames.map(({ usename, role }) => (
          <>
            <div class="btn btn-sm flex justify-between group">
              {usename}
              <div class="hidden group-hover:block">
                <button
                  class="btn btn-accent btn-xs"
                  onclick={`update_user_${usename}.showModal()`}
                >
                  <Image src={editIcon} alt="Edit" class="w-4" />
                </button>
                <button
                  class="btn btn-accent btn-xs"
                  onclick={`delete_user_${usename}.showModal()`}
                >
                  <Image src={deleteIcon} alt="Delete" class="w-4" />
                </button>
              </div>
            </div>
            <DeleteModal
              type="Eliminar"
              dataType="usuario"
              username={usename}
              pageName={pageName}
              lastURL="users/delete.json"
              id={`delete_user_${usename}`}
              client:only="react"
            >
              <p class="my-3">
                ¿Está seguro que desea eliminar el usuario
                <strong>{usename}</strong>?
              </p>
            </DeleteModal>
            <EditModal
              type="Actualizar"
              dataType="usuario"
              pageName={pageName}
              oldData={{ usename, role }}
              id={`update_user_${usename}`}
              lastURL="users/update.json"
              client:only="react"
            >
              <Input
                type="text"
                name="newName"
                value={usename}
                label="Nombre"
                example="christiam"
              />
              <Input
                type="password"
                name="passwd"
                label="Contraseña"
                example="P@ssw0rd"
              />
              <Select
                name="newRole"
                label="Rol"
                value="rolname"
                selected={role}
                defaultSelected="un rol"
                options={roleNames}
              />
            </EditModal>
          </>
        ))
    }
    {
      userNames.length === 0 && (
        <p class="text-sm text-gray-400">No se encontraron usuarios</p>
      )
    }
  </div>
</div>
